.index_body, .index {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
        url("ts_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_text {
    /*
    background-color: rgb(255,255,255); /* Fallback color
    background-color: #dfdbe760; /* Black w/opacity/see-through*/
    color: #ffffff;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}
.bg_text h1 {
    font-family: 'Cinzel', serif;
    font-size: 100px;
    text-shadow: 4px 4px #0d0c0f;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 25px;
    font-weight: bold;
}
.bg_text p {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-shadow: 4px 4px #0d0c0f;
    margin-bottom: 20px;
}

.buttons button {

    padding: 9px 25px;
    border: 2px  solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 30px;
    background-color: transparent;
}

.buttons button:hover {


    color:black;
    background-color: white;
}

.buttons {
    display: flex;
    justify-content: center;
    text-align: center;

}

.buttons a {
    padding:10px;
    text-shadow: 2px 2px black;
    margin-top: 150px;
}
