@import "colors";
.head_nav {
    display:flex;
    justify-content: center;
    align-items: center;
}
.head-nav nav ul {
    margin: 0;
}

.nav_links {
    list-style: none;
    margin-bottom: 0;
}

.nav_links li {
    display: inline-block;
    padding-left: 10px;
    padding-top:10px;
    padding-bottom:0;
    margin-bottom:0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
    color: $nav-links-hover;
    border-bottom: 2px solid $nav-links-hover;
    text-decoration: none;
    
}
