/*use these fonts
Jost-this is the main body
Permanent Marker
Rock Salt
 */


/*fonts to use*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background-image: url(hero_4.jpg);
    background-position: center;
    font-family: "Jost", sans-serif;
    background-repeat: no-repeat;
}
/*
.hero_img {
    background-image: url(hero.jpg);
    height: 500px;
    width: 100%;
    background-position: 48.1% 11%;
    opacity: 1;
}
*/
/*
.nav_img {
    background-image: url(hero.jpg);
    background-repeat: no-repeat;
    opacity: 1;
    height: 100%;
    width: 100%;
    background-position: 48% 5%
}
*/
li,a,button {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 20px;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 8px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #7c9abd;
}

.cta button {
    padding: 9px 25px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #0e1318;
}

.cta button:hover {
    background-color: #7c9abd;
    opacity: 0.8;
    color:#ffffff;
}


.name {
    font-family: 'Fugaz One', cursive;
    text-align: center;
    color: #74cdae;
    font-size: 150px;
    text-shadow: 3px 3px black;
    margin-top: 60px;
}

.sub_1_name {
    text-align: center;
    font-weight: bold;
    color: #24aa80;
    text-shadow: 2px 2px black;
    font-size: 100px;
    margin-top: 30px;
    font-family: 'Bebas Neue', cursive;
}
/*
.sub_2_name {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: #24aa80;
    text-shadow: 2px 2px black;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
}
*/
.buttons button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    font-size: 40px;
    background-color: #60aba4 ;
}

.buttons button:hover {
    background-color: white;
    opacity: 0.5;
    color:black;
}

.buttons {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    text-align: center;

}

.buttons a {
    padding:10px;
}